*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #040615;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    height: 65vh;
    background-color: #121737;
    border-radius: 20px;

}